[uwsgi]
uid=gor
gid=gor
chdir={{project_path}}
home={{virtualenv_path}}
wsgi-file=%(chdir)/wsgi.py
module=wsgi:application
socket=/tmp/{{project_name}}-ops.sock
pidfile=/tmp/{{project_name}}-ops.pid
logto=/var/log/uwsgi/{{project_name}}-ops.log
vacuum=True
master=True
max-requests=5000
workers={{uwsgi_num_workers_ops}}
chmod-socket=666
harakiri=60

